<div class="container" >

  <div ng-if="!registrationDataCtrl.registeredUser">
      Not Signed Up Yet.
      <a ui-sref="public.signup" >Sign Up Now! </a>
  </div>

  <div id="info" ng-if="registrationDataCtrl.registeredUser" >
    <p style="font-weight: bold;">Registration Data: </p>
    First name: {{ registrationDataCtrl.registrationData.firstName}} <br>
    Last name: {{ registrationDataCtrl.registrationData.lastName}} <br>
    Email: {{ registrationDataCtrl.registrationData.email}} <br>
    Phone: {{ registrationDataCtrl.registrationData.phone }} <br>
    Favorite Menu Number: {{ registrationDataCtrl.registrationData.shortName }} <br>
    Favorite Menu Title: {{ registrationDataCtrl.registrationData.favoriteMenuTitle }} <br>
    Favorite Menu Description: {{ registrationDataCtrl.registrationData.favoriteMenuDescription }} <br>

    <div >
      <img class="img-responsive" width="250" height="150" ng-src="{{registrationDataCtrl.basePath}}/images/{{registrationDataCtrl.registrationData.shortName}}.jpg" alt="{{$ctrl.menuItem.name}}">
    </div>
    
  </div>

</div>
